<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="counterController.js"></script>
    <title>Hello </title>
</head>

<body>
    <div ng-controller="DIController">
            <input type="text" 
            ng-model="name">
            <br>
            {{message()}}
            <br>
            {{lovesMessage()}}
            <br>
            Truth: {{lovesMessage() | truth : 'love' : 'hate'}}
            <br>
            Truth2: {{lovesMessage() | truth: 'love' : 'hate' | uppercase}}
        </div>

    <h2>Counter App</h2>
    <div ng-controller='CounterController'>
        <button ng-click="showNumberOfWatchers()">Log # of watchers</button>
        <div>
            <button ng-click="countOnce()">Up Once Counter(once)</button>
            <br>
            <button ng-click="countUp()">Up Counter</button>
        </div>
        <input type="text" ng-model="name">
        <div>
            Once counter: {{onceCounter}} <br>
            counter: {{counter}}
        </div>
    </div>
</body>

</html>